/* ========== Container css:start ========== */

@media (min-width:375px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width:576px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1230px;
		max-width: 1230px;
	}
}
@media (min-width: 1400px) {
	.container {
		width: 1326px;
		max-width: 1326px;
	}
}

/* ========== Container css:end ========== */

/* ========== Default css:start ========== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
  	background: #FFFFFF;
	margin: 0;
	padding: 0;
	font-family: 'Inter';
	font-style: normal;
	font-size: 14px;
	color: #000000;
	line-height: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

textarea {
	resize: none;
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1 { font-size: 70px; font-style: normal; }
h2 { font-size: 60px; font-style: normal; }
h3 { font-size: 50px; font-style: normal; }
h4 { font-size: 40px; font-style: normal; }
h5 { font-size: 30px; font-style: normal; }
h6 { font-size: 26px; font-style: normal; }
p { font-size: 20px; font-style: normal; }

.title h3 { color: #000000; line-height: normal; font-weight: 600; text-transform: capitalize; margin: 0 0 40px 0; }
.title h3 .word_wrap { display: flex; flex-wrap: wrap; overflow: hidden; }
.word_wrap .word { transition: transform 0.6s ease; transform: translateY(100%); opacity: 0; }
.word_wrap.visible .word { animation: splash .5s forwards ease-in-out; }
@keyframes splash { 
	from { transform: translateY(100%); opacity: 0; } 
   
	to { transform: translateY(0%); opacity: 1; } 
}

body.open_nav { overflow: hidden; }

/* ========== Default css:end ========== */

.header { position: sticky; top: 0; left: 0; width: 100%; background: red; z-index: 111; transition: all 0.3s ease-in-out; }
.header.fix_wrap { background: #000000; }
.main_header { display: flex; justify-content: space-between; align-items: center; padding: 14px 0; }
.main_header .logo a { display: block; max-width: 105px; max-height: 71px; }
.main_header .logo a img { width: 100%; height: auto; object-fit: cover; }
.main_header .navigation ul { display: flex; align-items: center; margin: 0; padding: 0; }
.main_header .navigation ul li { list-style: none; }
.main_header .navigation ul li + li { margin-left: 30px; }
.main_header .navigation ul li a { text-decoration: none; color: #FFFFFF; font-weight: 500; font-size: 18px; text-transform: capitalize; }
.main_header .navigation { transition: all 0.4s ease-in-out; }
.main_header .navigation.slide { opacity: 0; visibility: hidden; }
.main_header .menu-toggler { position: relative; display: flex; align-items: center; justify-content: flex-end; width: 26px; height: 20px; cursor: pointer; }
.main_header .menu-toggler .menu-toggler-icon { width: 100%; height: 2px; background: #FFFFFF; position: relative; display: block; }
.main_header .menu-toggler .menu-toggler-icon::before { content: ''; width: 100%; height: 2px; position: absolute; left: 0; right: 0; top: -9px; background: #FFFFFF; -webkit-transition-property: top , transform; transition-property: top , transform; }
.main_header .menu-toggler .menu-toggler-icon::after { content: ''; width: 100%; height: 2px; position: absolute; left: 0; right: 0; bottom: -9px; background: #FFFFFF; -webkit-transition-property: bottom , transform; transition-property: bottom , transform; }
.main_header .menu-toggler .menu-toggler-icon::after,
.main_header .menu-toggler .menu-toggler-icon::before { -webkit-transition-duration: .3s, .3s; transition-duration: .3s, .3s; -webkit-transition-delay: .3s, 0s; transition-delay: .3s, 0s; }
.main_header .menu-toggler.active .menu-toggler-icon { background: none; }
.main_header .menu-toggler.active .menu-toggler-icon::after { bottom: 0; transform: rotate(45deg); }
.main_header .menu-toggler.active .menu-toggler-icon::before { top: 0; transform: rotate(-45deg); }
.main_header .menu-toggler.active .menu-toggler-icon::after,
.main_header .menu-toggler.active .menu-toggler-icon::before { -webkit-transition-delay: 0s, .3s; transition-delay: 0s, .3s; }


.dot_wrapper { height: 30px; width: 30px; background: #FFFFFF; border-radius: 50%; display: block; position: fixed; left: -10px; top: -10px; pointer-events: none; z-index: 111; opacity: 0.5; }


.swiper_section { position: relative; margin: 30px 0; }
.swiper_section .swiper_slider { padding-bottom: 60px; }
.swiper_section .swiper_slider .box_slider { position: relative; overflow: hidden; max-width: 310px; text-decoration: none; }
.swiper_section .swiper_slider .box_slider .image_box_slider { position: relative; max-width: 310px; }
.swiper_section .swiper_slider .box_slider .image_box_slider img { width: 100%; height: 100%; object-fit: cover; }
.swiper_section .swiper_slider .box_slider .image_slider_dtl { padding: 10px 15px; }
.swiper_section .swiper_slider .box_slider .image_slider_dtl p { color: #000000; font-weight: 400; line-height: normal; margin: 0 0 10px 0; }
.swiper_section .swiper_slider .box_slider .image_slider_dtl .date_newsblock { color: #757575; line-height: normal; padding: 0; }
.swiper_section .switer_btn { position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0); z-index: 11; }
.swiper_section .switer_btn .group { border: none; background: transparent; }
.swiper_section .switer_btn .group + .group { margin-left: 20px; }


.slick_section { position: relative; margin: 0 0 30px 0; }
.slick_section .slick_slider_wrap { padding-bottom: 60px; }
.slick_section .slick_slider_wrap .slick-slider { position: static; }
.slick_section .slick_slider_wrap .box_slider { overflow: hidden; max-width: 310px; text-decoration: none; }
.slick_section .slick_slider_wrap .box_slider .image_box_slider { position: relative; max-width: 310px; }
.slick_section .slick_slider_wrap .box_slider .image_box_slider img { width: 100%; height: 100%; object-fit: cover; }
.slick_section .slick_slider_wrap .box_slider .image_slider_dtl { padding: 10px 15px; }
.slick_section .slick_slider_wrap .box_slider .image_slider_dtl p { color: #000000; font-weight: 400; line-height: normal; margin: 0 0 10px 0; }
.slick_section .slick_slider_wrap .box_slider .image_slider_dtl .date_newsblock { color: #757575; line-height: normal; padding: 0; }
.slick_section .group { border: none; background: transparent; }
.slick_section .left { position: absolute; bottom: 0; left: 50%; transform: translate(-100%, 0); z-index: 11; }
.slick_section .right { position: absolute; bottom: 0; right: 50%; transform: translate(100%, 0); z-index: 11; padding-left: 20px; }


.award { padding: 120px 0 0 0; background: #000000; }
.award_section { position: relative; display: flex; align-items: center; flex-direction: column; justify-content: center; padding: 40% 0 30% 0; }
.award_section .image { display: flex; height: 686px; width: 427px; position: absolute; top: 20%; }
.award_section .image img { width: 100%; height: auto; max-width: 100%; max-height: 100%; object-fit: cover; }
.award_section .first_img { position: absolute; top: 28%; left: 12%; z-index: 10; }
.award_section .second_img { position: absolute; bottom: 4%; right: 16%; }
.award_section .third_img { position: absolute; bottom: 20%; left: 22%; }
.award_section .fourth_img { position: absolute; bottom: 40%; right: 20%; }
.award_section .award_text { position: absolute; top: 30%; transform: translate(0, -30%); }
.award_section .award_text h2 { text-align: center; color: #FFFFFF; font-weight: 700; margin: 0; }


.map_section .textbox h5 { margin-bottom: 10px; }
.map_section .textbox p { color: #000000; font-weight: 400; line-height: normal; margin: 0 0 10px 0; }
.map_section .textbox i { color: #757575; line-height: normal; margin: 0; font-style: normal; font-size: 16px; }
.map_section .textbox i + h5 { margin-top: 20px; }


.strategy { padding: 160px 0; background: #000000; }
.strategy_section .text_section h4 { color: #FFFFFF; font-weight: 700; margin: 0; max-width: 480px; }
.strategy_section .strategy_step { position: relative; }
.strategy_section .strategy_step .timeline-line .line-default { position: absolute; top: 0; left: 0; height: 100%; width: 2px; background: #757575; }
.strategy_section .strategy_step .timeline-line .line-fill { position: absolute; top: 0; left: 0; width: 2px; background: #FFFFFF; z-index: 2; }
.strategy_section .strategy_step .step_box { padding: 60px 0 60px 24px; }
.strategy_section .strategy_step .step_box .content_box span { color: #757575; font-size: 24px; font-weight: 700; display: block; margin-bottom: 12px; }
.strategy_section .strategy_step .step_box .content_box p { color: #757575; font-weight: 500; line-height: 1.625; margin: 0; }
.strategy_section .strategy_step .step_box .content_box.highlight span { color: #FFFFFF; }
.strategy_section .strategy_step .step_box .content_box.highlight p { color: #FFFFFF; }
.strategy_section .strategy_step .step_box .content_box + .content_box { margin-top: 96px; }


.wrapper { width: 100%; display: flex; flex-direction: column; }
section { width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; transform: translate(0, 0) !important; }
.first_wrap { height: 100vh; }
.first_wrap h2 { transition: all ease-in-out 0.2s; }
.first_wrap.wrapper_demo h2 { transform: scale(2); }
.bl_bg { background: #757575; }
.gr_bg { background: brown; }
.rd_bg { background: darkgreen; }


.sec_pro { width: 100%; display: flex; flex-direction: column; transform: translate(0, 0) !important; }
.sec_pro section { width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; transform: translate(0, 0) !important; }
.sec_pro_wrap { height: 100vh; }
.sec_pro .wrap { display: flex; justify-content: center; background: #757575; }
.sec_pro .bl_bg { color: #FFFFFF; font-size: 24px; font-weight: 600; display: flex; justify-content: center; text-decoration: none; padding: 10px 0; }
.sec_pro .gr_bg { background: brown; }
.sec_pro_wrap.back_wrap { background: #000000; }
.sec_pro_wrap.back_wrap h4 { color: #FFFFFF; }
.sec_pro .count_wrap { display: flex; justify-content: center; background: #757575; }
.sec_pro .count_wrap .count_btn { display: block; color: #FFFFFF; font-size: 24px; font-weight: 600; padding: 10px 0; text-decoration: none; }
.sec_pro .count_wrap .count_btn span { display: inline-block; color: brown; }
.sec_pro .text_string { display: flex; justify-content: center; flex-direction: column; background: #757575; padding: 10px 0; }
.sec_pro .text_string input { max-width: 500px; margin: 0 auto; padding: 10px; color: #000000; font-size: 18px; font-weight: 500; text-transform: capitalize; }
.sec_pro .text_string p { text-align: center; margin-top: 10px; text-transform: capitalize; }
.sec_pro .checkbox_section { display: flex; align-items: center; flex-direction: column; background: #757575; padding: 10px 0; }
.sec_pro .checkbox_section label { font-size: 18px; font-weight: 500; text-transform: capitalize; display: flex; align-items: center; }
.sec_pro .checkbox_section label input { height: 18px; width: 18px; display: inline-block; margin-right: 5px; }
.sec_pro .checkbox_section p { text-align: center; margin-top: 10px; text-transform: capitalize; }