/* ========== Container css:start ========== */

@media (min-width:375px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width:576px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1230px;
		max-width: 1230px;
	}
}
@media (min-width: 1400px) {
	.container {
		width: 1326px;
		max-width: 1326px;
	}
}

/* ========== Container css:end ========== */

/* ========== Default css:start ========== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
  background: #FFFFFF !important;
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Inter' !important;
	font-style: normal !important;
	font-size: 14px !important;
	color: #000000 !important;
	line-height: normal !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

textarea {
	resize: none;
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1 { font-size: 70px; font-style: normal; }
h2 { font-size: 60px; font-style: normal; }
h3 { font-size: 50px; font-style: normal; }
h4 { font-size: 40px; font-style: normal; }
h5 { font-size: 30px; font-style: normal; }
h6 { font-size: 26px; font-style: normal; }
p { font-size: 20px; font-style: normal; }

.title h3 { color: #000000; line-height: normal; font-weight: 600; text-transform: capitalize; margin: 0 0 40px 0; }
.title h3 .word_wrap { display: flex; flex-wrap: wrap; overflow: hidden; }
.word_wrap .word { transition: transform 0.6s ease; transform: translateY(100%); opacity: 0; }
.word_wrap.visible .word { animation: splash .5s forwards ease-in-out; }
@keyframes splash { 
	from { transform: translateY(100%); opacity: 0; } 
   
	to { transform: translateY(0%); opacity: 1; } 
}

/* ========== Default css:end ========== */

.swiper_section { position: relative; margin: 30px 0; }
.swiper_section .swiper_slider { padding-bottom: 60px; }
.swiper_section .swiper_slider .box_slider { position: relative; overflow: hidden; max-width: 310px; text-decoration: none; }
.swiper_section .swiper_slider .box_slider .image_box_slider { position: relative; max-width: 310px; }
.swiper_section .swiper_slider .box_slider .image_box_slider img { width: 100%; height: 100%; object-fit: cover; }
.swiper_section .swiper_slider .box_slider .image_slider_dtl { padding: 10px 15px; }
.swiper_section .swiper_slider .box_slider .image_slider_dtl p { color: #000000; font-weight: 400; line-height: normal; margin: 0 0 10px 0; }
.swiper_section .swiper_slider .box_slider .image_slider_dtl .date_newsblock { color: #757575; line-height: normal; padding: 0; }
.swiper_section .switer_btn { position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0); z-index: 11; }
.swiper_section .switer_btn .group { border: none; background: transparent; }
.swiper_section .switer_btn .group + .group { margin-left: 20px; }


.slick_section { position: relative; margin: 0 0 30px 0; }
.slick_section .slick_slider_wrap { padding-bottom: 60px; }
.slick_section .slick_slider_wrap .slick-slider { position: static; }
.slick_section .slick_slider_wrap .box_slider { overflow: hidden; max-width: 310px; text-decoration: none; }
.slick_section .slick_slider_wrap .box_slider .image_box_slider { position: relative; max-width: 310px; }
.slick_section .slick_slider_wrap .box_slider .image_box_slider img { width: 100%; height: 100%; object-fit: cover; }
.slick_section .slick_slider_wrap .box_slider .image_slider_dtl { padding: 10px 15px; }
.slick_section .slick_slider_wrap .box_slider .image_slider_dtl p { color: #000000; font-weight: 400; line-height: normal; margin: 0 0 10px 0; }
.slick_section .slick_slider_wrap .box_slider .image_slider_dtl .date_newsblock { color: #757575; line-height: normal; padding: 0; }
.slick_section .group { border: none; background: transparent; }
.slick_section .left { position: absolute; bottom: 0; left: 50%; transform: translate(-100%, 0); z-index: 11; }
.slick_section .right { position: absolute; bottom: 0; right: 50%; transform: translate(100%, 0); z-index: 11; padding-left: 20px; }


.map_section .textbox h5 { margin-bottom: 10px; }
.map_section .textbox p { color: #000000; font-weight: 400; line-height: normal; margin: 0 0 10px 0; }
.map_section .textbox i { color: #757575; line-height: normal; margin: 0; font-style: normal; font-size: 16px; }
.map_section .textbox i + h5 { margin-top: 20px; }


.strategy { padding: 160px 0; background: #000000; }
.strategy_section .text_section h4 { color: #FFFFFF; font-weight: 700; margin: 0; max-width: 480px; }
.strategy_section .strategy_step { position: relative; }
.strategy_section .strategy_step .timeline-line .line-default { position: absolute; top: 0; left: 0; height: 100%; width: 2px; background: #757575; }
.strategy_section .strategy_step .timeline-line .line-fill { position: absolute; top: 0; left: 0; width: 2px; background: #FFFFFF; z-index: 2; }
.strategy_section .strategy_step .step_box { padding: 60px 0 60px 24px; }
.strategy_section .strategy_step .step_box .content_box span { color: #757575; font-size: 24px; font-weight: 700; display: block; margin-bottom: 12px; }
.strategy_section .strategy_step .step_box .content_box p { color: #757575; font-weight: 500; line-height: 1.625; margin: 0; }
.strategy_section .strategy_step .step_box .content_box.highlight span { color: #FFFFFF; }
.strategy_section .strategy_step .step_box .content_box.highlight p { color: #FFFFFF; }
.strategy_section .strategy_step .step_box .content_box + .content_box { margin-top: 96px; }